
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', sans-serif;
    font-size: .85rem;
    line-height: 1.35rem;
}

main {
    padding: 1.5rem;
    border-bottom: 1px solid #a7d7f9;
}

a {
    color: rgb(53, 53, 179);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: normal;
    margin-bottom: .2rem;
}

p {
    margin-top: .4rem;
    margin-bottom: .4rem;
}

h3 {
    margin-bottom: 0;
}

h5 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: .75rem;
    color: #666;
    padding-left: 1.5rem;
    margin-bottom: 0;
}

small {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: normal;
}

cite {
    margin: 1rem;
    line-height: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1350px;
}

/* WIKI-MENU */

.wiki-menu {
    width: 13%;
    min-width: 163px;
    background: linear-gradient(to top, #f6f6f6 97% , #fff 100%);
    font-size: .75rem;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to top, #a7d7f9 97% , #fff 100%);
    border-image-slice: 1; 
}

.wiki-menu img {
    max-width: 160px;  
    max-height: 160px;
    margin-left: 1rem;
}

.wiki-menu ul {
    list-style: none;
    padding-left: 1.5rem;
    line-height: 1.2rem;
}

.wiki-menu hr {
    margin: 0;
    height: 1px;
    border: none;
    background: #c2c2c2;
    background-image: linear-gradient(to left, #fff, #c2c2c2, #fff);
}

.langbut {
    margin-left: 1.5rem;;
    text-align: center;   
    width: 5rem;
    height: 1.5rem;
    border: 1px solid #666;
    background-color: #f6f6f6;
}

.langbut:hover {
    background-color: #fff; 
}

.langbut a {
    line-height: 1.5rem;
    color: black; 
    text-decoration: none;
}

.fa-language {
    vertical-align: middle;
    font-size: 1.3rem; 
    color: #666;
    margin-right: .2rem;
}

.lang_edit {
    color: #666;
    margin-left: 5rem;
    margin-top: 2rem;
}

.lang_edit:hover {
    color: rgb(69, 69, 199);
}

.fa-pen {
    font-size: .6rem;
    margin-right: .2rem;
}

.fa-cog {
    margin-left: 3rem;
    color: #666;
    opacity: .7;
}

.fa-cog:hover {
    opacity: 1;
}

/* WIKI-PAGE */

.wiki-page {
    width: 87%;
}

/* HEADER */

.header {
    padding: .4rem;
    padding-bottom: 0;
    padding-left: 0;
    font-family: sans-serif;
    font-size: 13px;
    background: linear-gradient(to top, #f6f6f6 0%, #fff 50%);
    border-bottom: 1px solid #a7d7f9;
    max-height: 5rem;
}

.header_log {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .75rem
}

.header a {
    color: rgb(69, 69, 199);
    text-decoration: none;
    padding: .3rem;
}

.header a:hover {
    text-decoration: underline;
}

.header .logornot {
    margin: .2rem;
}

.fa-user {
     margin-right: .2rem;
}

.header_nav {
    height: 30px;
    margin-top: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.header_nav a {
    padding: .45rem;
    padding-top: 1.5rem;
    padding-bottom: .55rem;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to top, #a7d7f9 0% , #fff 100%);
    border-image-slice: 1; 
}

.header_nav_right a, .header_nav_right span {
    vertical-align: middle;
}

.header_nav_right a:first-child {
    border-left: 1px solid transparent;
    border-image: linear-gradient(to top, #a7d7f9 0% , #fff 100%);
    border-image-slice: 1; 
}

.header_nav .active_link {
    background-color: #fff;
    color: #000;
}

.header_nav .active_link:hover {
    text-decoration: none;
}

.header_input {
    margin-left: .3rem;
    display: inline-block;
    border: 1px solid rgba(153, 153, 153, 0.7);
    border-radius: 2px;
    width: 17rem;
    height: 1.5rem;
    background: linear-gradient(to top, #f6f6f6, #fff);
}

.header_input:hover {
    border: 1px solid rgb(144, 183, 255);
}

.header_search {
    font-size: .85rem;
    vertical-align: middle;
    width: 15rem;
    margin: 0 0.2rem;
    outline: 0;
    border: none; 
    background: transparent;
}

.fa-search {
    vertical-align: middle;
    margin-left: .2rem;
}

/* TITLE */


.main_title {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: .6rem;
}

main hr {
    border: none;
    height: 1px;
    background-color: #999;
}

.main_discript {
    margin-top: .6rem;
    margin-bottom: 0;
    font-size: .8rem;
}

/* MAIN-INFO */

.main_info {  
    font-size: .8rem;
    margin-top: .2rem;
    height: 66rem;
    float: right;
    border: 1px solid #999;
    background: #f8f9fa;
    width: 23%;  
    min-width: 264px;
    padding: .2rem;  
    margin-left: .4rem; 
}

.main_info td {
    vertical-align: top;
}

.info_title {
    text-align: center;
}

.info_title h4,  .info_title p {
    margin: .2rem;
}

.info_title h4 {
    font-size: .9rem;
}

/* CONTENT-NAV */

.content_nav {
    font-size: 0.8rem;
    border:1px solid #828282;
    background-color: #f8f9fa;
    width: 12rem;
    padding: 0;
}

.content_nav h4 {
    margin: .4rem;
    text-align: center;
}

.content_nav ol {
    padding-left: 1.4rem; 
}

.content_nav ul {
    padding-left: .9rem; 
}

.content_nav li {
    line-height: 1.4rem;
}

/* PRODUCTION */

.set_design--aside {
    float: right;
    border:1px solid #828282;
    background-color: #f8f9fa;
    width: 35%;
    padding: .4rem;
    margin: .4rem;
    font-size: .75rem;
}

/* DIFFERENCES */

.diff--aside {
    float: right;
    border:1px solid #828282;
    background-color: #f8f9fa;
    width: 20%;
    min-width: 227px;
    padding: .4rem;
    margin: .4rem;
    font-size: .75rem;
}

.diff--aside img {
    border:1px solid #828282;
    text-align: center;
}

.diff--aside p{
    margin: .2rem;
}

/* REFERENCES */

.references {
    display: flex;
    width: 50%;
}

/* EXTERNAL-LINKS */

.external_wikiquote {
    float: right;
    border:1px solid #828282;
    background-color: #f8f9fa;
    width: 23%;
    padding: .2rem;
    margin: .2rem;
    font-size: .75rem; 
    line-height: 1rem;
}

.external_wikiquote img {
    float: left;
    margin: .4rem;
}

.external_table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
}

.external_table td {
    display: flex;
    justify-content: space-between;
    background-color: #ccccff;
    margin: .2rem;
    padding: 0 1rem;
    line-height: 1.5rem;
}

.external_table .yellow_row {
    background-color: #eedd82;
}

.external_table tr {
    border: 1px solid #999;
}

.external_table .item1 {
    font-size: .6rem;
}

.external_table .item2 {
    font-weight: 600;
}

.external_table .item3 {
    font-size: .75rem;
}

/* FOOTER */

.footer {
    margin: 0 auto;
    padding: 1.5rem;
    padding-left: 10rem;
    background: #f6f6f6;
    font-size: .7rem;
    line-height: 1rem;
}

footer a {
    margin-right: 1rem;
}

.footer_but {
    float: right;
}